<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identity V API</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lato:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="public/css/style.index.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/atom-one-dark.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
</head>

<body onload="checkPageInURLAndSwitchPage()">
    <div class="navbar">
        <div class="logo">
        </div>
        <ul class="articles">
            <li><a href="#getting-started">Getting Started</a></li>
            <li><a href="#query">Query Parameters</a></li>
            <li><a href="#possible-portraits">Portrait Series</a>
            </li>
            <li>
                <a class="examples">Examples</a>
                <ul class="examples">
                    <li><a href="#examples-skin">Skins</a></li>
                    <li><a href="#examples-accessory">Accessories</a></li>
                    <li><a href="#examples-portraits">Portraits</a></li>
                    <li><a href="#examples-aliases">Character Aliases</a></li>
                    <li><a href="#examples-emote">Emotes</a></li>
                </ul>
            </li>
            <li><a href="#help">Help</a></li>
        </ul>
        <div class="menu-toggler">
            <div class="icon"></div>
        </div>
        <div class="navbar-fotter">
            © Identity V API | Version <%= version %>
        </div>
    </div>
    <div class="section-holder">
    </div>
    <script src="/public/js/subArticleToggle.js"></script>
    <script src="/public/js/toggleMenuForPhones.js"></script>
    <script src="/public/js/handlePageSwitching.js"></script>
</body>

</html>