<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identity V Costume API</title>
    <style>
        html,
        body {
            padding: 0;
            margin: 0;
        }

        h1 {
            margin-left: .5em;
        }

        h3 {
            margin-left: 2em;
            transform: translateY(-100%);
        }

        p {
            margin-left: 2em;
        }

        h2 {
            margin-left: 1em;
        }

        .error-code {
            margin-top: 4%;
        }
    </style>
</head>

<body>
    <h1>Identity V Costume API</h1>
    <h3 class="version">Version %version%</h3>
    <p>This API uses <a href="https://id5.fandom.com" target="_blank">Identity V Fandom</a>'s pages to scrape and find a
        costume's data.</p>
    <br>
    <h2>Query Parameters</h2>
    <p>
        <a href="/?name=Whiplash" target="_blank">name</a> - The name of the skin you want to get its costume link.
    </p>

    <h2 class="error-code">Error Codes</h2>
    <ul>
        <li>404 - Page not found. The API failed to find the fandompage you asked for.</li>
    </ul>

    <script>
        const version = "<%= version %>";
        const versionElement = document.querySelector(".version");
        versionElement.innerText = versionElement.innerText.replace("%version%", version);

    </script>
</body>

</html>